In [1]:
# Import the necessary libraries

from bs4 import BeautifulSoup
import requests

In [2]:
# Connect to Website

url = 'https://finance.yahoo.com/most-active?offset=0&count=100'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/117.0"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content,"html.parser")
#print(soup1)

soup2 = BeautifulSoup(soup1.prettify(),"html.parser")
#print(soup2)

In [3]:
table = soup2.find('tbody')
#print(table)

In [4]:
titles = soup2.find_all('th')
table_titles = [title.text.strip() for title in titles]

print(table_titles)

['Symbol', 'Name', 'Price (Intraday)', 'Change', '% Change', 'Volume', 'Avg Vol (3 month)', 'Market Cap', 'PE Ratio (TTM)', '52 Week Range']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(columns = table_titles)
df

Empty DataFrame
Columns: [Symbol, Name, Price (Intraday), Change, % Change, Volume, Avg Vol (3 month), Market Cap, PE Ratio (TTM), 52 Week Range]
Index: []

In [7]:
rows = table.find_all('tr')

In [8]:
for row in rows:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [9]:
df = df.drop(columns = '52 Week Range')
df

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,TSLA,"Tesla, Inc.",244.88,-10.82,-4.23%,126.311M,118.792M,777.247B,71.39
1,F,Ford Motor Company,12.43,+0.23,+1.89%,59.764M,50.001M,49.748B,12.07
2,AMD,"Advanced Micro Devices, Inc.",96.20,+0.09,+0.09%,52.077M,60.426M,155.427B,N/A
3,AAPL,Apple Inc.,174.79,+0.86,+0.49%,55.111M,57.984M,2.733T,29.28
4,AMZN,"Amazon.com, Inc.",129.12,-0.21,-0.16%,51.904M,52.919M,1.332T,107.60
...,...,...,...,...,...,...,...,...,...
95,BEKE,KE Holdings Inc.,16.35,+0.55,+3.48%,9.162M,8.655M,20.963B,27.71
96,COHR,Coherent Corp.,31.27,+2.35,+8.13%,9.077M,3.248M,4.703B,N/A
97,BTE,Baytex Energy Corp.,4.0300,+0.0100,+0.25%,9.09M,5.783M,3.489B,3.54
98,LU,Lufax Holding Ltd,1.1400,+0.0500,+4.59%,8.877M,9.553M,5.283B,9.50
99,PINS,"Pinterest, Inc.",26.72,+0.27,+1.02%,8.945M,10.606M,17.903B,N/A

In [10]:
df.to_csv(r"C:\Users\lpate\OneDrive\Desktop\Stocks.csv")